:root {
  --primary: #560216;
  --white: #ffffff;

  --font-title: "Great Vibes", cursive;
  --font-main: "Cormorant Garamond", serif;
  --font-body: "Poppins", sans-serif;
  --arch-top: 200px 200px 0 0;
}
